* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --primaryFontFamily: "Poppins", sans-serif;
  --secondaryFontFamily: "Libre Franklin", sans-serif;
  --maintextcolor: #fcfff9;
  --scndtextcolor: #0a0a54;
  --bannertextcolor: #f7ffef;
  --grade1: #4f87a0;
  --navgrade1: #279bc0;
  --navgrade2: #260b93;
  --darkbg: #06063e;
  --inputbg: #2f2f8f0a;
}

body {
  font-family: var(--primaryFontFamily);

  background: var(--maintextcolor);
}

.container {
  padding: 3% 5% 5% 5%;
}
.banner {
  position: relative;
}
.banner-section {
  background-image: url(../img/banner.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 90vh;
  border-radius: 75px;
  width: 100%;
  position: relative;
  overflow: hidden;
  border-top-left-radius: 0px;
}
.logo {
  cursor: pointer;
  width: 170px;
}
.banner-head {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  color: var(--bannertextcolor);
  font-weight: 700;
  font-family: var(--primaryFontFamily);
  font-size: 120px;
  font-size: 118px;
  text-transform: uppercase;
  width: 100%;
  z-index: 2;

  /* background: -webkit-linear-gradient(
    135deg,
    #92cc7e 0%,
    #66a89f 25%,
    #1881b8 50%,
    #1675a7 75%,
    #92cc7e 100%
  ); */
  /* -webkit-background-clip: text;
  -webkit-text-fill-color: #92cc7e32;
  transition: 0.2s ease;
  background-size: 300% 300%;
  animation: gradient-move 6s linear infinite; */
}
@keyframes gradient-move {
  0% {
    background-position: 0%;
  }
  50% {
    background-position: 25%;
  }
  50% {
    background-position: 50%;
  }
  75% {
    background-position: 75%;
  }
  100% {
    background-position: 100%;
  }
}
.bg-banner2 {
  position: absolute;
  top: 6%;
  right: 6%;
  z-index: 0;
  z-index: 0;
  animation: star-rotate 4s ease-in-out infinite;
}
.bg-banner1 {
  z-index: 0;
  position: absolute;
  top: 21.5%;
  left: 9%;
  animation: star-rotate 4s ease-in-out infinite;
}

@keyframes star-rotate {
  0% {
    transform: translatey(0);
  }
  50% {
    transform: translatey(20px);
  }
  100% {
    transform: translatey(0);
  }
}
.lets-talk {
  margin: 0;
  position: absolute;
  top: 54%;
  left: 60%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 3;
  cursor: pointer;
}
.lets-talk img {
  max-width: 200px;
}
.banner-text {
  z-index: 3;
  position: absolute;
  color: #f7ffefd9;
  bottom: 25%;
  right: 8%;
  font-family: var(--secondaryFontFamily);
  font-weight: 400;
  line-height: 27px;
}
.mobconnect {
  display: none;
}
.banner-connect {
  background: var(--maintextcolor);
  position: absolute;
  z-index: 3;
  bottom: 2%;
  left: 50%;
  padding: 7px 35px 7px 35px;
  border-radius: 40px;
  cursor: pointer;
  transition: all 2s ease;
}
.connect-info {
  display: none;
  cursor: pointer;
}
.banner-connect img {
  display: block;
  transition: opacity 1s ease;
}
.connect-info img {
  max-width: 44px;
}
.banner-connect:hover .connect-info {
  display: block;
  display: flex;
  align-items: center;
  gap: 10px;
}
.banner-connect:hover .connect-img {
  display: none;
}
.connect-info button {
  background: #187eb4;
  color: #fff;
  font-family: var(--secondaryFontFamily);
  font-weight: 500;
  border: none;
  outline: none;
  padding: 14px 30px;
  border-radius: 30px;
  cursor: pointer;
}

.banner-connect:hover {
  padding: 7px 15px 7px 15px;
}

/* about section */
.sub-head p {
  font-family: var(--secondaryFontFamily);
  font-weight: 400;
  color: #2b2a29;
  font-size: 18px;
}
.sub-head {
  border-bottom: 1px solid #00213280;
  padding-bottom: 20px;
}
.about-main-head h2 {
  font-size: 75px;
  max-width: 870px;
  font-family: "Poppins";
  font-weight: 400;
  line-height: 95px;
  text-transform: capitalize;
  color: #104386;
  margin-top: 25px;
}
.about-main-head .fade-text {
  display: inline-block;
  /* background: linear-gradient(
    to right,
    #104386 60%,
    rgba(255, 255, 255, 0.2) 100%
  ); */
  background: linear-gradient(
    to right,
    #104386 20%,
    rgba(255, 255, 255, 0.1) 200%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;

  mask-image: linear-gradient(to right, black 80%, transparent 100%);
  -webkit-mask-image: linear-gradient(to right, black 80%, transparent 100%);
}
#about {
  background-image: url(../img/aboutbg.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 718px;
  position: relative;
  z-index: 1;
}
.about-layout {
  display: grid;
  grid-template-columns: 1fr 1.5fr 1.5fr;
  gap: 30px;
  padding-top: 50px;
}
.about-description p {
  font-family: "Libre Franklin";
  font-weight: 400;
  line-height: 27px;
  color: #2b2a29e5;
}
.about-description p span {
  font-weight: 600;
}
.learn-more {
  display: flex;
  align-items: end;
  justify-content: flex-start;
}
.learn-more-info {
  display: flex;
  align-items: center;
  position: relative;
  overflow: hidden;
}
.hover-effect-container {
  position: relative;
  display: flex;
  align-items: center;
  gap: 10px; /* Space between elements */
  padding: 10px; /* Adjust padding as needed */
  transition: all 0.3s ease-in-out; /* Smooth transition */
}

.hover-effect-container::before,
.hover-effect-container::after {
  background: #fff;
  content: "";
  height: 155px;
  opacity: 0;
  position: absolute;
  top: -50px;
  transform: rotate(35deg);
  width: 50px;
  transition: all 3000ms cubic-bezier(0.19, 1, 0.22, 1);
}

.hover-effect-container::before {
  left: -50%;
}

.hover-effect-container::after {
  left: -100%;
  width: 8rem;
  height: 20rem;
}

.learn-more-info:hover .hover-effect-container::before {
  left: 120%;
  opacity: 0.5;
}

.learn-more-info:hover .hover-effect-container::after {
  left: 200%;
  opacity: 0.6;
}

.learn-more-info:hover .hover-effect-container {
  transform: translateY(-3px); /* Optional: Slight lift effect */
  /* box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3); */
}
.line {
  background: linear-gradient(
    123.7deg,
    #2a5ea5 -4.44%,
    rgba(42, 94, 165, 0.95) 50.05%,
    #006633 100%
  );
  width: 25px;
  height: 10px;
}
.learn-more-info {
  cursor: pointer;
}
.learn-more-info p {
  color: #f7ffef;
  font-family: var(--primaryFontFamily);
  font-weight: 500;
  position: absolute;
  left: 16.5%;
  font-size: 18px;
}

.arrow {
  position: absolute;
  right: 8%;
  top: 30%;
}
.unionimg {
  max-width: 250px;
}

/* about section */

/* whow we are */
#whoweare {
  background-image: url(../img/service.png);
  background-size: cover;
  background-repeat: no-repeat;
  /* height: 100vh; */
  border-bottom-left-radius: 60px;
  border-bottom-right-radius: 60px;
  position: relative;
  top: -80px;
  z-index: 0;
}
.who-we-are {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 50px;
  padding: 10% 2% 5% 2%;
}
.who-we-desc {
  color: #fcfff9d9;
  font-family: "Libre Franklin";
  font-weight: 400;
  line-height: 27px;
  font-size: 14px;
}
.who-we-h2 {
  color: #fcfff9f2;
  font-family: "Poppins";
  font-weight: 600;
  font-size: 65px;
  line-height: 75px;
  padding-left: 80px;
  text-transform: capitalize;
}
.fade-text2 {
  display: inline-block;
  background: linear-gradient(
    to right,
    #fcfff9f2 5%,
    rgba(255, 255, 255, 0.05) 200%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;

  mask-image: linear-gradient(to right, black 80%, transparent 100%);
  -webkit-mask-image: linear-gradient(to right, black 80%, transparent 100%);
}
.who-we-learn {
  display: flex;
  align-items: end;
  justify-content: end;
}
.who-we-learn img {
  max-width: 210px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
.who-we-are-slide img {
  max-width: 325px;
}

.who-we-are-slide {
  display: flex;
  align-items: flex-start;
  justify-content: end;
  gap: 20px;
  padding-right: 2%;
  padding-bottom: 5%;
}
.slider-arrow {
  text-align: end;
  color: #fff;
  position: relative;
  top: -50px;
  right: 3%;
  font-size: 18px;
  cursor: pointer;
}
.image-container {
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.image-container img {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: -100%; /* Start from above the image */
  left: 100%; /* Start from the right side of the image */
  width: 100%;
  height: 100%;
  background: linear-gradient(
    135deg,
    /* Diagonal gradient */ rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.5) 50%,
    rgba(255, 255, 255, 0) 100%
  );
  transition: top 0.5s ease-in-out, left 0.5s ease-in-out; /* Animate both top and left */
}

.image-container:hover .overlay {
  top: 100%; /* Move to the bottom */
  left: -100%; /* Move to the left */
}
/* whow we are */

/* looking for */
.looking-h2 {
  font-size: 65px;
  font-family: "Poppins";
  font-weight: 400;
  line-height: 95px;
  /* text-transform: capitalize; */
  color: #104386;
  margin-top: 20px;
  text-align: center;
}
.looking-h2 .fade-text {
  display: inline-block;
  /* background: linear-gradient(
    to right,
    #104386 60%,
    rgba(255, 255, 255, 0.2) 100%
  ); */
  background: linear-gradient(
    to right,
    #104386 20%,
    rgba(255, 255, 255, 0.1) 200%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;

  mask-image: linear-gradient(to right, black 80%, transparent 100%);
  -webkit-mask-image: linear-gradient(to right, black 80%, transparent 100%);
}
.looking-slide {
  position: relative;
}
.slide1 {
  position: relative;
  top: -37px;
  left: 10%;
  display: inline-block;
  z-index: 1;
}
.slide1 img {
  max-width: 550px;
}
.slide2 {
  position: absolute;
  top: 10%;
  right: 13%;
}
.slide2 img {
  max-width: 300px;
}
.slide3 {
  position: absolute;
  right: 34%;
  bottom: -6%;
}
.slide3 img {
  max-width: 180px;
}
.slide4 {
  position: absolute;
  left: 33%;
  bottom: -20%;
}
.slide4 img {
  max-width: 140px;
}
.gimg {
  position: absolute;
  max-width: 160px;
  left: 10%;
  top: 20%;
}
.slide1-gain {
  position: absolute;
  top: 22%;
  left: 22%;
  display: flex;
  align-items: center;
  gap: 40px;
  color: #fcfff9e5;
}
.slide1-gain h1 {
  font-size: 100px;
}
.gain-text h2 {
  font-weight: 500;
  font-size: 42px;
}
.gain-text p {
  color: #fcfff9d9;
  font-family: var(--secondaryFontFamily);
  font-weight: 400;
}
/* looking for */

/* service */
#service {
  margin-top: 50px;
  position: relative;
}
.service-dotsimg {
  /* background-image: url(../img/Dot\ Grid.png);
  background-size: cover;
  background-repeat: no-repeat; */
  height: 160px;
  position: absolute;
  top: 0%;
  position: absolute;
  top: 0%;
  width: 100%;
}
swiper-container {
  width: 100%;
  height: 100%;
}

swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.services-section h2 {
  font-family: var(--primaryFontFamily);
  font-weight: 400;
  font-size: 80px;
  color: #2b2a29;
}
.services {
  margin: 40px 0px;
}
.services h2 {
  font-size: 60px;
  font-family: "Poppins";
  font-weight: 400;
  line-height: 95px;
  /* text-transform: capitalize; */
  color: #104386;
}
.services h2 .fade-text {
  display: inline-block;
  /* background: linear-gradient(to right, #104386 60%, rgba(255, 255, 255, 0.2) 100%); */
  background: linear-gradient(
    to right,
    #104386 0%,
    rgba(255, 255, 255, 0.1) 200%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
  mask-image: linear-gradient(to right, black 80%, transparent 100%);
  -webkit-mask-image: linear-gradient(to right, black 80%, transparent 100%);
}
.slide-one {
  position: relative;
}
.slide-two {
  position: relative;
}
.circleimg {
  position: absolute;
  bottom: 0%;
  right: 0%;
  max-width: 90px;
  max-height: 90px;
}
.circleimg2 {
  position: absolute;
  top: 0%;
  right: 0%;
  max-width: 90px;
  max-height: 90px;
}
.mr-img {
  position: absolute;
  bottom: 5%;
  left: 8%;
  max-width: 65px;
  max-height: 65px;
}
.react-img {
  position: absolute;
  top: 5%;
  left: 8%;
  max-width: 65px;
  max-height: 65px;
}
.slide-para {
  position: absolute;
  top: 0%;
  text-transform: uppercase;
  color: #fcfff9;
  font-family: var(--primaryFontFamily);
  font-weight: 500;
  text-align: left;
  font-size: 22px;
  line-height: 46px;
  padding: 20px;
}
.slide-para2 {
  position: absolute;
  bottom: 0%;
  text-transform: uppercase;
  color: #fcfff9;
  font-family: var(--primaryFontFamily);
  font-weight: 500;
  text-align: left;
  font-size: 22px;
  line-height: 46px;
  padding: 20px;
}
.slide-para2 span {
  font-size: 28px;
}
.slide-para span {
  font-size: 28px;
}

.circle-text h2 {
  font-family: var(--secondaryFontFamily);
  font-weight: 400;
  color: #fcfff9;
  font-size: 25px;
  position: absolute;
  right: 26px;
  bottom: 10%;
}
.circle-text2 h2 {
  font-family: var(--secondaryFontFamily);
  font-weight: 400;
  color: #fcfff9;
  font-size: 25px;
  position: absolute;
  right: 26px;
  top: 10%;
}
/* service */

/* thoughtflow */
.thought-flow {
  margin: 0% 5% 2% 5%;
  padding-bottom: 1%;
  border-bottom: 1px solid #00213280;
}
.mobimgthoughtflow {
  display: none;
}
.thought-flow p {
  color: #2b2a29;
  font-family: var(--secondaryFontFamily);
  font-weight: 400;
  font-size: 14px;
}
.thoutflow-section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding-top: 40px;
}
.flow-right {
  text-align: end;
}
.flow-center {
  text-align: center;
  padding-top: 15%;
}
#thoughtflow {
  background-image: url(../img/bgthought.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 846px;
  position: relative;
  top: 70px;
  z-index: 1;
}
.brand-identity {
  color: #2b2a29bf;
  font-family: "Libre Franklin";
  font-weight: 400;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}
.blogline {
  width: 1px;
  height: 15px;
  background: #2b2a2980;
}
.brand-h2 {
  margin-top: 80px;
}
.brand-h2 h2 {
  color: #144486e5;
  font-family: var(--primaryFontFamily);
  font-weight: 500;
  font-size: 28px;
  line-height: 40px;
}
.view-blog {
  margin-top: 50px;
}
.view-blog button {
  border: 1px solid #00213280;
  background: transparent;
  color: #2b2a29bf;
  font-family: "Poppins";
  font-weight: 400;
  font-size: 16px;
  padding: 10px 30px;
  border-radius: 30px;
  outline: none;
  cursor: pointer;
}
/* thoughtflow */

/* footer */
#footer {
  background-image: url(../img/footerbg.png);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  /* top: -70px; */
  z-index: 0;
}
.container-footer {
  padding: 10% 5% 3% 5%;
}
.footerdots {
  position: absolute;
  left: 0%;
  width: 100%;
}
.footer-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 40px;
  position: relative;
  z-index: 1;
}
.footer-head img {
  max-width: 190px;
}
.footer-head h2 {
  color: #fcfff9;
  font-family: var(--primaryFontFamily);
  font-weight: 400;
  font-size: 38px;
  max-width: 676px;
  text-transform: capitalize;
  line-height: 55px;
}
.wistree-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  /* margin-top: 100px; */
  margin-top: 10%;
  padding-top: 82px;
  position: relative;
}
.wisterimg {
  max-width: 830px;
}
.footbg {
  position: absolute;
  top: 0%;
  max-width: 280px;
  /* animation: bannercircle 4s linear infinite; */
}
@keyframes bannercircle {
  0% {
    max-width: 280px;
    opacity: 0;
  }
  50% {
    max-width: 290px;
    opacity: 1;
  }
  100% {
    max-width: 280px;
    opacity: 0;
  }
}
.footer-navlinks {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fcfff9;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid #fcfff980;
  padding-top: 30px;
  margin-top: 15px;

  font-family: var(--primaryFontFamily);
  font-weight: 400;
}
.nav-links {
  display: flex;
  align-items: center;
  gap: 25px;
}
.nav-links p a {
  text-decoration: none;
  color: #fcfff9;

  font-family: var(--primaryFontFamily);
  font-weight: 400;
}
.social-media {
  display: flex;
  align-items: center;
  gap: 25px;
}
.social-media i {
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.social-media i:hover {
  transform: translateY(-10px) scale(1.2);
  color: #002132;
}
/* footer */

/* media query */

@media (min-width: 1401px) {
  .slide2 {
    position: absolute;
    top: 12%;
    right: 18%;
  }
  .slide3 {
    position: absolute;
    right: 38%;
    bottom: -3%;
  }
  .slide4 {
    position: absolute;
    left: 28%;
    bottom: -22%;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .banner-head {
    font-size: 98px;
  }
}

@media (min-width: 1200px) and (max-width: 1400px) {
  .banner-head {
    font-size: 108px;
  }
  .lets-talk {
    top: 53%;
    left: 59%;
  }
  .lets-talk img {
    max-width: 170px;
  }
  .bg-banner1 {
    top: 18.5%;
    left: 4%;
  }
  .slide-para {
    font-size: 18px;
  }
  .slide-para2 span {
    font-size: 24px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .flow-right {
    display: none;
  }
  .banner-head {
    font-size: 63px;
  }
  .banner-connect {
    display: none;
  }
  .banner-text {
    bottom: 15%;
    right: 12%;
  }
  .banner-section {
    height: 70vh;
  }
  .bg-banner2 {
    position: absolute;
    top: 10%;
    right: -2%;
  }
  .bg-banner2 img {
    max-width: 370px;
  }
  .bg-banner1 img {
    max-width: 370px;
  }
  .bg-banner1 {
    left: -6%;
  }
  .about-main-head h2 {
    font-size: 64px;
    line-height: 85px;
  }
  .about-layout {
    grid-template-columns: 1fr;
  }
  .about-description {
    order: -1;
  }
  #about {
    height: auto;
  }
  .who-we-are {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
    padding: 15% 5% 5% 5%;
  }
  .who-we-are-slide {
    padding-left: 2%;
  }
  .looking-h2 {
    font-size: 64px;
  }
  .slide1 img {
    max-width: 440px;
  }
  .slide1 {
    position: relative;
    top: -35px;
    left: 0%;
  }
  .slide2 img {
    max-width: 250px;
  }
  .slide2 {
    position: absolute;
    top: 10%;
    right: -2%;
  }
  .slide4 img {
    max-width: 120px;
  }
  .slide4 {
    left: 25%;
  }
  .slide3 img {
    max-width: 160px;
  }
  .slide3 {
    position: absolute;
    right: 25%;
    bottom: -11%;
  }
  .services-section h2 {
    font-size: 64px;
  }
  .services h2 {
    font-size: 50px;
    line-height: 85px;
  }
  .thoutflow-section {
    grid-template-columns: 1fr;
  }
  #thoughtflow {
    height: auto;
  }
  .desktopthoghtflow {
    display: none;
  }
  .mobimgthoughtflow {
    display: block;
  }
  .flow-center {
    text-align: center;
    padding-top: 10%;
    padding-bottom: 10%;
  }
  .flow-left {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .footer-head h2 {
    font-size: 30px;
  }
  .wisterimg {
    max-width: 600px;
  }
  .footbg {
    max-width: 230px;
  }
  .footer-navlinks {
    flex-direction: column;
    gap: 20px;
  }
}

@media (min-width: 577px) and (max-width: 767px) {
  .banner-head {
    font-size: 47px;
  }
  .banner-connect {
    display: none;
  }
  .banner-text {
    bottom: 10%;
    right: auto;
    font-size: 14px;
  }
  .lets-talk img {
    max-width: 110px;
  }
  .bg-banner2 {
    top: 23%;
    right: -7%;
  }
  .bg-banner2 img {
    max-width: 230px;
  }
  .bg-banner1 img {
    max-width: 230px;
  }
  .bg-banner1 {
    top: 30%;
    left: -7%;
  }
  .logo img {
    max-width: 130px;
  }
  .banner-section {
    height: 75vh;
  }
  .sub-head p {
    font-size: 16px;
  }
  .about-main-head h2 {
    line-height: 55px;
    font-size: 44px;
  }
  #about {
    height: auto;
    background-image: url(../img/mobabout.png);
    border-radius: 45px;
  }
  .about-layout {
    grid-template-columns: 1fr;
    padding-top: 30px;
  }
  .learn-more {
    order: 1;
  }
  .who-we-are {
    grid-template-columns: 1fr;
    padding: 35% 5% 5% 5%;
    gap: 35px;
  }
  .who-we-h2 {
    padding-left: 0px;
  }
  .who-we-learn {
    display: none;
  }
  .image-containermob {
    display: none;
  }
  .who-we-are-slide {
    padding-right: 0px;
    padding-left: 20px;
  }
  .looking-h2 {
    font-size: 41px;
    line-height: 55px;
    margin-top: 0px;
  }
  .slide1 img {
    max-width: 300px;
  }
  .slide1 {
    top: -19px;
    left: 0%;
  }
  .slide2 img {
    max-width: 150px;
  }
  .slide2 {
    right: 0%;
    top: 6%;
  }
  .gimg {
    max-width: 70px;
  }
  .slide1-gain h1 {
    font-size: 42px;
  }
  .slide1-gain {
    gap: 20px;
  }
  .gain-text h2 {
    font-size: 20px;
  }
  .gain-text p {
    font-size: 12px;
  }
  .slide4 img {
    max-width: 115px;
  }
  .slide4 {
    position: absolute;
    left: 10%;
    bottom: -37%;
  }
  .slide3 img {
    max-width: 130px;
  }
  .slide3 {
    position: absolute;
    right: 24%;
    bottom: -14%;
  }
  .services-section h2 {
    font-size: 52px;
  }
  .services h2 {
    font-size: 38px;
    line-height: 55px;
  }
  .slide-para p {
    font-size: 20px;
    line-height: 33px;
  }
  .slide-para2 span {
    font-size: 22px;
  }
  .thoutflow-section {
    grid-template-columns: 1fr;
  }
  #thoughtflow {
    background-image: url(../img/mobserv.png);
    height: auto;
  }
  .flow-right {
    display: none;
  }
  .mobimgthoughtflow {
    display: block;
  }
  .desktopthoghtflow {
    display: none;
  }
  .flow-left {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .brand-h2 {
    margin-top: 30px;
  }
  .brand-h2 h2 {
    font-size: 26px;
    line-height: 40px;
  }
  .view-blog {
    margin-top: 40px;
    padding-bottom: 10px;
  }
  .footerdots {
    position: absolute;
    left: 0%;
    width: 100%;
    top: 10%;
    height: 110px;
  }
  .footer-head {
    padding-top: 75px;
    flex-direction: column;
    align-items: baseline;
    gap: 20px;
  }
  .footer-head h2 {
    font-size: 28px;
    line-height: 50px;
  }
  .mobconnect {
    display: block;
  }
  .desktopconnect {
    display: none;
  }
  .footer-navlinks {
    flex-direction: column;
    gap: 20px;
  }
  .footbg {
    max-width: 130px;
  }
  .wisterimg {
    max-width: 320px;
  }
  .nav-links {
    display: flex;
    align-items: center;
    gap: 25px;
    padding: 0px 15px;
    flex-wrap: wrap;
    justify-content: center;
  }
  .unionimg {
    max-width: 220px;
  }
  .arrow {
    right: 10%;
  }
  .footbg {
    position: absolute;
    top: 22%;
  }
  .footer-navlinks {
    margin-top: 25px;
  }
  #banner {
    padding-top: 15px;
  }
}

@media (min-width: 300px) and (max-width: 576px) {
  .banner-head {
    font-size: 30px;
  }
  .banner-connect {
    display: none;
  }
  .banner-text {
    bottom: 10%;
    right: 25%;
    font-size: 14px;
  }
  .lets-talk img {
    max-width: 110px;
  }
  .bg-banner2 {
    top: 23%;
    right: -7%;
  }
  .bg-banner2 img {
    max-width: 180px;
  }
  .bg-banner1 img {
    max-width: 180px;
  }
  .bg-banner1 {
    top: 30%;
    left: -7%;
  }
  .logo img {
    max-width: 130px;
  }
  .banner-section {
    height: 75vh;
  }
  .sub-head p {
    font-size: 16px;
  }
  .about-main-head h2 {
    line-height: 55px;
    font-size: 44px;
  }
  #about {
    height: auto;
    background-image: url(../img/mobabout.png);
    border-radius: 45px;
  }
  .about-layout {
    grid-template-columns: 1fr;
    padding-top: 30px;
  }
  .learn-more {
    order: 1;
  }
  .who-we-are {
    grid-template-columns: 1fr;
    padding: 35% 5% 5% 5%;
    gap: 35px;
  }
  .who-we-h2 {
    padding-left: 0px;
  }
  .who-we-learn {
    display: none;
  }
  .image-containermob {
    display: none;
  }
  .who-we-are-slide {
    padding-right: 0px;
    padding-left: 20px;
  }
  .looking-h2 {
    font-size: 41px;
    line-height: 55px;
    margin-top: 0px;
  }
  .slide1 img {
    max-width: 200px;
  }
  .slide1 {
    top: -19px;
    left: 0%;
  }
  .slide2 img {
    max-width: 120px;
  }
  .slide2 {
    right: -2%;
    top: 0%;
  }
  .gimg {
    max-width: 70px;
  }
  .slide1-gain h1 {
    font-size: 42px;
  }
  .slide1-gain {
    gap: 20px;
  }
  .gain-text h2 {
    font-size: 20px;
  }
  .gain-text p {
    font-size: 12px;
  }
  .slide4 img {
    max-width: 90px;
  }
  .slide4 {
    position: absolute;
    left: 10%;
    bottom: -37%;
  }
  .slide3 img {
    max-width: 100px;
  }
  .slide3 {
    position: absolute;
    right: 27%;
    bottom: -15%;
  }
  .services-section h2 {
    font-size: 52px;
  }
  .services h2 {
    font-size: 38px;
    line-height: 55px;
  }
  .slide-para p {
    font-size: 20px;
    line-height: 33px;
  }
  .slide-para2 span {
    font-size: 22px;
  }
  .thoutflow-section {
    grid-template-columns: 1fr;
  }
  #thoughtflow {
    background-image: url(../img/mobserv.png);
    height: auto;
  }
  .flow-right {
    display: none;
  }
  .mobimgthoughtflow {
    display: block;
  }
  .desktopthoghtflow {
    display: none;
  }
  .flow-left {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .brand-h2 {
    margin-top: 30px;
  }
  .brand-h2 h2 {
    font-size: 20px;
    line-height: 35px;
  }
  .view-blog {
    margin-top: 40px;
    padding-bottom: 10px;
  }
  .footerdots {
    position: absolute;
    left: 0%;
    width: 100%;
    top: 10%;
    height: 110px;
  }
  .footer-head {
    padding-top: 75px;
    flex-direction: column;
    align-items: baseline;
    gap: 20px;
  }
  .footer-head h2 {
    font-size: 28px;
    line-height: 50px;
  }
  .mobconnect {
    display: block;
  }
  .desktopconnect {
    display: none;
  }
  .footer-navlinks {
    flex-direction: column;
    gap: 20px;
  }
  .footbg {
    max-width: 130px;
  }
  .wisterimg {
    max-width: 320px;
  }
  .nav-links {
    display: flex;
    align-items: center;
    gap: 25px;
    padding: 0px 15px;
    flex-wrap: wrap;
    justify-content: center;
  }
  .unionimg {
    max-width: 220px;
  }
  .arrow {
    right: 10%;
  }
  .footbg {
    position: absolute;
    top: 22%;
  }
  .footer-navlinks {
    margin-top: 25px;
  }
  #banner {
    padding-top: 15px;
  }
}
/* media query */
